<div class="col-md-3 col-sm-6 col-xs-12 text-center service">
            <img src="{{ content.field_services_image.0 }}" alt=services-icon1 class="img-responsive">
            <h3>{{ content.field_services_title.0 }}</h3><hr/>
            <p>{{ content.field_sservices_description.0 }}</p>
</div> 



