<div class="col-md-4  col-sm-6 col-xs-12 feature wow fadeInUp">
            <div class="feature-inner">
              <img src="{{ content.field_feature_item_image.0 }}" alt="feature image" class="img-responsive">
              <div class="feature-description">
                <h4>{{ content.field_feature_item_title.0 }}</h4>
                {{ content.field_features_item_description.0 }}
              </div>  
            </div>  
          </div>