<!-- SERVICES SECTION --> 
    <section id="services" class="services-bg">
      <div class="container-fluid wow fadeInUp">
        <div class="row">
          {{ content.field_about_service_items }}
        </div>
      </div>
    </section>

    {{ content.field_about_our_team }}


<!-- END SERVICES SECTION -->