<!-- ABOUT SECTION -->

    <section id="about-page" class="text-center">
        <div class="container">
              <h3 class="wow fadeInUp">{{ content.field_about_company_title.0 }} </h3>
            <div class="col-md-6 col-sm-10 mx-auto about-tag-line wow fadeInUp">
              <p>{{ content.field_about_company_tagline.0 }}</p>
            </div>  
          <div class="row about-details wow fadeInUp">
              <div class="col-md-6 col-sm-12 col-xs-12 about-page-description">
                {{ content.field_company_description.0 }}
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 about-page-img animate-box">
                <img src="{{ content.field_about_company_image.0 }}" alt="about" class="img-responsive">
              </div>
          </div>
        </div>
    </section>
<!-- END ABOUT SECTION -->