<!-- FEATURES SECTION -->
     <section id="features" class="text-center" >
      <div class="container">
          <h2 class="wow fadeInUp">{{ content.field_feature_title.0 }}</h2>
          <p class="wow fadeInUp" data-wow-delay="0.3s" >{{content.field_feature_tag_line.0}}</p>
        <div class="row">
          {{ content.field_feature_items}}
        </div>
      </div>
     </section>
<!-- END FEATURES SECTION -->