<!-- FEATURES SECTION -->
     <section id="features" class="text-center" >
      <div class="container">
        <div class="row">
          {{ content.field_services_items }}
        </div>  
      </div>
     </section>
<!-- END FEATURES SECTION -->