<div class="item">
              <div class="testimonial-description">
                  <img src="{{ fields.field_testi_img.content }}" alt="Testimonial"> 
                  <div class="testimonial-caption ">
                    <p>{{ fields.body.content }}</p>
                    <div class="testimonial-name">
                      <h6>{{ fields.field_testi_member_name.content }}</h6>
                      <p><i>{{ fields.field_testi_sub_name.content }}</i></p>
                    </div>  
                  </div>
              </div>
          </div>