<div class="col-md-3 col-sm-6 col-xs-12 team-member">
          <div class="team-members">
            <img src="{{ fields.field_team_member_image.content }}" alt="team member" class="img-responsive">
            <h4>{{ fields.field_team_member_name.content }}</h4>
            <h6>{{ fields.field_team_memberdesignation.content }}</h6>
            <p>{{ fields.field_team_description.content }}</p>
          </div>  
          </div>